*.iml
*.class
*.log
target/
project/target/
project/boot/
dist/
boot/
logs/
out/
tmp/
projectFilesBackup/
.history/
.idea/
.idea_modules/
.DS_STORE
.cache
.settings
.project
.classpath
version.properties
RUNNING_PID

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
